<!DOCTYPE html>
<html>
	<head>
		<title>WikiLinks</title>
		<center><h1>WikiLinks</h1></center>
		
		<meta name="keywords" content="Wikipedia, shortest path, wikipedia game" />
		<meta name="description" content="Finding the shortest path between Wikipedia articles" />
		<meta name="revised" content="1/14/2016" />
		<!-- <meta http-equiv="refresh" content="5; url=http://google.com" /> -->
		<meta name="author" content="qjkxkcd" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<div id="links" align="middle" valign="top" >
		<a href="/index.html">HOME</a> |
		<a href="/about.html">ABOUT</a> |
		<a href="https://github.com/stensonowen/WikiLinkr">CODE</a>
		</div>
	</head>

	<body>
	<!--<center><h3>This is a project.</h3></center>-->
	<hr />
	This is content
	<p id="src"><tt>SRC</tt></p>
	<p id="dst"><tt>DST</tt></p>
	<tt>
	<form>
		en.wikipedia.org/wiki/ <input type="text" name="src" value={{src}} />
		<br>
		en.wikipedia.org/wiki/ <input type="text" name="dst" value={{dst}} />
		<br>
		<input type="submit" name="submit" value="Submit" />
	</form>
	</tt>
	
	<hr />
	<p> Path from <tt>{{src}}</tt> to <tt>{{dst}}</tt>:</p>
	<p> <tt>Source: </tt>{{src}}</p>
	<p> <tt>Destination: </tt>{{dst}}</p>
	<p> <tt>Path: </tt> <br>{{{path}}}</p>
	
	</body>
	
</html>