<!DOCTYPE html>
<html>
	<head>
		<title>WikiLinks</title>
		<center><h1>WikiLinks</h1></center>
		
		<!--[if lt IE 9]>
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<meta name="keywords" content="Wikipedia, shortest path, wikipedia game" />
		<meta name="description" content="Finding the shortest path between Wikipedia articles" />
		<meta name="revised" content="1/14/2016" />
		<!-- <meta http-equiv="refresh" content="5; url=http://google.com" /> -->
		<meta name="author" content="qjkxkcd" />
		<meta charset="utf-8">
	</head>

	<body> 
	
	<article id="about" >
		<strong> Navigate from any given Wikipedia article to another in the fewest number of steps.</strong> <br>
        <p><strong>How it Works: </strong>The program will search through all articles that are one iteration away from the source, then two, and so on through ten articles or untli the destination is found. The number of articles that need to be checked increases exponentially, so longer searches can be quite slow (from several seconds to several minutes). Because so much much information has to be processed, searching is done based on a dump of the English Wikipedia, meaning that if a page was modified in the last few weeks the results might be outdated.</p>
        <p><strong>How to Search: </strong>Article titles are case insensitive, but must otherwise be exact (the program will follow redirects but will not search for you). The easiest way to enter the correct values is to pull up the Wikipedia page and copy the article title or last part of the url (after the "en.wikipedia.org/wiki/"). 
        A path will be found faster if the destination article is somewhat popular. Additionally, only a path resulting in the exact destination will be returned; a path to the article "USA" will probably take longer than a path to the article "United States" because the latter is more often linked to.
        <p><strong>More: </strong>Path urls can also be easily saved and shared by using the form wikilinks.xyz/bfs/src_title/dst_title. 
        More information including code and instructions to run locally can be found on <a href="https://github.com/stensonowen/WikiLinks">github</a>.
	</article>
	
	<aside id="links">
		<header> 
			<h3> History </h3> 
		</header>
		Common/recent searches are cached, and viewing them is faster than doing a long search (particularly for long paths). <br>
{{{cache}}}
	</aside>
	
	<section id="search">
		<header> 
			<h3>Search</h1> 
		</header>

		<tt><form>
			source <br>
			<input type="text" name="src" id="input" size="30" autofocus /> <br><br>
			destination <br>
			<input type="text" name="dst" id="input" size="30" /> <br><br>
			<input type="submit" name="submit" value="Submit" />
		</form></tt>
		<h3>Results</h3> 
		Path from <tt>"{{src}}"</tt> to <tt>"{{dst}}"</tt>:<br>{{{path}}}
	</section>
	
	</body>
	
</html>
<style>
	article#about {
		padding:10px;
	}
	section#search {
		<!-- text-align: center; -->
		float: left;
		width: 50%;
		padding:10px;
	}
	aside#links {
		float: right;
		width: 50%;
		padding: 10px;
	}
	input#input {
		width: 60%;
	}
</style>
