<!DOCTYPE html>
<html>
    <head>
        <title>WikiLinks</title>
        <center><h1><a href="/bfs">WikiLinks</a></h1></center>

        <meta name="keywords" content="Wikipedia, shortest path, wikipedia game" />
        <meta name="description" content="Finding the shortest path between Wikipedia articles" />
        <meta name="revised" content="1/10/2017" />
        <meta name="author" content="qjkxkcd" />
        <meta charset="utf-8">
    </head>

    <body> 

        <article id="about" >
            <strong> Navigate from any given Wikipedia article to another in the fewest number of steps.</strong> <br>
            <p><strong>How it Works: </strong>The program will search through all articles that are one iteration away from the source, then two, and so on through ten articles or until the destination is found. The number of articles that need to be checked increases exponentially, so longer searches can be quite expensive. Because so much much information has to be processed, searching is done based on a (bi-)monthly dump of the English Wikipedia, meaning that if a page was modified in the last few weeks the results might be outdated.</p>
            A path will be found faster if the destination article is somewhat popular. 
            More information including code and instructions to run locally can be found on <a href="https://github.com/stensonowen/WikiLinks">github</a>.
        </article>

        <aside id="links">
            <header> 
                <h3> History </h3> 
            </header>
            Recent searches are cached, and viewing them is faster than doing a new search (particularly for long paths). <br>
            {{cache}}
        </aside>

        <section id="search">
            <header> 
                <h3>Search</h1> 
            </header>

            <form action="/bfs" >
                <tt>
                    source <br>
                    <input type="text" name="src" id="input"  size="30" autofocus
                       value="{% if bad_dst and not bad_src %}{{src_t}}{% endif %}"/> <br>

                    {% if bad_src and src_t | length != 0 %}
                        {% if src_alts %}
                            No source article found with the title `{{src_t}}`;
                            perhaps you meant: <br>
                            {% for alt in src_alts %}
                                <input type="radio" name="src" value="{{alt}}" />{{alt}}<br />
                            {% endfor %}
                        {% else %}
                            No source article or recommendations found 
                            for the title `{{src_t}}`<br>
                        {% endif %}
                    {% endif %}

                    <br><br> destination <br>
                    <input type="text" name="dst" id="input" size="30" 
                       value="{% if bad_src and not bad_dst %}{{dst_t}}{% endif %}"/> <br>

                    {% if bad_dst and dst_t | length != 0 %}
                        {% if dst_alts %}
                            No destination article found with the title `{{dst_t}}`;
                            perhaps you meant: <br>
                            {% for alt in dst_alts %}
                                <input type="radio" name="dst" value="{{alt}}" />{{alt}}<br />
                            {% endfor %}
                        {% else %}
                            No source article or recommendations found 
                            for the title `{{dst_t}}`<br>
                        {% endif %}
                    {% endif %}

                    <br> <input type="submit" value="Submit" />
                </tt> 
            </form>
            <h3>Results</h3> 

            {% if not bad_src and not bad_dst and src_t and dst_t %}
                Path from <tt>`{{src_t}}`</tt> to <tt>`{{dst_t}}`: <br>
            {% endif %}

            {% if path_err %}
                <p> {{ path_err }} </p>
            {% elif path %}
                <ol start="0">
                {% for p in path %}
                    <li><a href="{{p.1}}">{{p.0}}</a></li>
                {% endfor %}
                </ol>
            {% endif %}

        </section>

    </body>

</html>
<style>
article#about {
    padding:10px;
}
    section#search {
        <!-- text-align: center; -->
    float: left;
    width: 50%;
    padding:10px;
    }
    aside#links {
        float: right;
        width: 50%;
        padding: 10px;
    }
    input#input {
        width: 60%;
    }
</style>
